scrape_configs:
  - job_name: '{{ inventory_hostname }}_jupyterhub'
    static_configs:
    - targets: ['{{ inventory_hostname }}']
      labels:
        type: 'jupyterhub'
        group: 'syzygy'
        host: '{{ inventory_hostname }}'
    bearer_token: '{{ jhub_stats_api_token }}'
    scrape_interval: 1m
    scrape_timeout: 30s
    metrics_path: '/metrics/jupyter/metrics'
    scheme: 'https'

