scrape_configs:
  - job_name: '{{ inventory_hostname }}_jupyterhub'
    static_configs:
    - targets: ['{{ inventory_hostname }}']
      labels:
        type: 'jupyter'
        host: '{{ inventory_hostname }}'
    bearer_token: '{{ jhub_stats_api_token }}'
    metrics_path: '/metrics/jupyter/metrics'
    scheme: 'https'

