**/*.terraform
**/*.gpg
**/*.ianabc
**/*.tfstate
**/*.tfstate.backup
**/.terraform.tfstate.lock.info
**/*.retry
**/*.swp
**/.hostfiles
**/openrc.sh
**/clouds.yaml
keys/id_rsa*
keys/ansible-vault
roles/external
collections/external
group_vars/*/local_vars.yml
host_vars/*
inventory
