# Add any extra SSH keys here.
#ssh_public_keys:

admin_email: user@example.com
zfs_vdev_config: /dev/vdc

# Uncomment this to use overlay2
# Keep this commented out to use ZFS
#openstack_ephemeral_docker_disk: /dev/sdd

# Domain and SSL settings
domain: subdomain.example.com
# Set to False to get a production-ready certificate
dehydrate_test_cert: True

# Required for the html template task
html_longname: Syzygy

# valid values:
#   * dummy: username: anything, no password
#   * dummypw: username: anything, password via jupyterhub_authenticator_dummy_password
#   * shib: log in through ssp/shib
#   * pam: log in with system users
#   * google: Log in with Google OAuthenticator
#   * github: Log in with GitHub OAuthenticator
#
jupyterhub_authenticator: dummy

# uncomment this when using the dummypw authenticator
#jupyterhub_authenticator_dummy_password: dummy

# valid values:
#
#   * syzygysystemuserspawner: standard
#
jupyterhub_spawner: dockerspawner

# The docker image to use for notebooks
jupyterhub_docker_image: 'docker.io/callysto/pims-minimal'
jupyterhub_docker_container: 'docker.io/callysto/pims-minimal:latest'

# Set to True if wanting to speed up initialization
disable_update: False
